MONGODB_URL='mongodb://localhost:27017/filmes-db'
SECRET=MIIBOgIBAAJBAILlDRdXpGbxPBnVKffo8P9Xx8xdeoOcUi8a3ZcKJuDKEcMk06fuIk/cV/RcqYWtXUD/FwmtYGK+D7hK3yVLC38CAwEAAQJADuI0pt7UVtA/YUCX0RSvspksotRORgDUZ37Ki44f9ZdaoBH128KU9AK29EqGIWjv9T+N6B1ZhAxBcX81qpxB4QIhAM0A22504dK1vJtqVgSqMo/WIgIDpRz1oUTWLUFRbe+FAiEAo3TECeXxxAn9SAwa5dsZd5jGtn60zD3IGFLovchBRDMCIQCgJnFGIy1frPZA+5tjXYrOb1x18l8E9qcb3a3Q/0pA+QIgBNiWY1C87Tn6l2M8fOoVBDW0Vn7FL3T5dLcojU/dl38CIGofiVRv0vHupK9lYggERr9ifD9mPNoSf0ts/zEht7BA
